#exercise-image {
    display:flex;
    color: rgb(8, 8, 8);
    background-color: rgb(139, 108, 22);
    /* height: 600px; */
    height: 80%;
    /* width: 500px; */
    width: 40%;
    border-radius: 25%;
    padding: 30px; 
    justify-content: center;
}

#exercise-description{
    display:flex;
    color: rgb(8, 8, 8);
    background-color: rgb(139, 108, 22);
    /* height: 600px; */
    height: 80%;
    /* width: 600px; */
    width: 40%;
    border-radius: 25%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vw
}
#exercise-name{
    color:rgb(139, 108, 22);
    height: 100px;
    width: 600px;
    border-radius: 30%;
    padding: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    /* font-size: 100px; */
    font-size: 4vw;
    margin: auto;
}

#exercises-container {
    display: flex;
    background-color: #010203;
    height: 100vw;
    padding:50%;
    flex-wrap: wrap;
    
}

#button {
    height: 60px;
    width: 60px;
}

#name {
    background-color: #010203;  
}