#home-page {
    display:block;
    padding: 10px;
    color: white;
    font-size:1.1vw;
    font-weight: bolder;
    border: 5px solid rgb(139, 108, 22);
    transition-duration: 0.4s;
    display: inline-block;
    margin: 8px;
    /* border-radius: 12px; */
    text-decoration: none;
    
    
}

#exercises {
    padding: 10px;
    color: white;
    font-size: 1.1vw;;
    font-weight: bolder;
    border: 5px solid rgb(139, 108, 22);
    transition-duration: 0.4s;    
    display: inline-block;
    margin: 8px;
    text-decoration: none;
}

#tracker {
    padding: 10px;
    color: white;
    font-size: 1.1vw;;
    font-weight: bolder;
    border: 5px solid rgb(139, 108, 22);
    transition-duration: 0.4s;
    display: inline-block;
    margin: 8px;
    text-decoration: none;
}

.nav-button{
    padding: 10px;
    color: white;
    font-size: 1.1vw;;
    font-weight: bolder;
    border: 5px solid rgb(139, 108, 22);
    transition-duration: 0.4s;
    display: inline-block;
    margin: 8px;}

#home-page:hover {
    background-color: rgb(139, 108, 22); /* Green */
    color: white;
}
#exercises:hover {
    background-color: rgb(139, 108, 22); /* Green */
    color: white;
}
#tracker:hover {
    background-color: rgb(139, 108, 22); /* Green */
    color: white;
}


