.traker-table {
    color: white;
    padding: 6px;
    margin: 25px;
    background-color: rgb(139, 108, 22);
}

#tracker-container{
    width: 50vw;
    color: white;
}

button {
    color: white;
}

.input-text{
    width: 100px;
    /* padding: 2px; */
}

input {
    width: 95%;
    font-weight: bolder;
    border: none;
    color: white;
}
