.traker-table, .traker-table2 {
    color: white;
    padding: 6px;
    margin: 25px;
}

.traker-table {
    background-color: rgb(139, 108, 22);
}

.traker-table2 {
    /* background-color: rgb(255, 255, 255); */
    background-color: silver;
}

.input-text{
    width: 100px;
    /* padding: 2px; */
}

input {
    width: 95%;
    font-weight: bolder;
    border: none;
    color: white;

}
